body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;

  background: #ffffff url("img/bg-page.jpg")  top center;
}

h1 {
  font-size: 24px;
  line-height: normal;
}

h2 {
  font-size: 20px;
  line-height: normal;
}
.avatar-container {
  text-align: center;
}
.avatar {
  border-radius: 10%;
}
.blog-navigation {
  padding: 100px;
  background-color: rgba(192, 135, 178, 0.7);
  border: 5px solid #786bd5;
  color: #ffffff;
}
.blog-navigation h2 {
  margin-top: 0;
}
.blog-navigation ul {
  list-style: none;
  padding-left: 0;
}
.blog-navigation li {
  margin-bottom: 5px;
}
.blog-navigation a {
  color: #ffffff;
}
.skills dd {
  margin: 0;
  margin-bottom: 10px;
  background-color: #e8e8e8;
}
.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}
.skills-level-ok {
  background-color: #47bb52;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #847de4;
  border-top: 2px solid #aaaaaa;
  padding-left: 30px;
  padding-bottom: 20px;
}

.page-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  color: cyan;
}

p {
  color: yellow;
}
a {
  color: cyan;
}
.skills-background {
  padding: 40px;
  background-color: rgba(184, 168, 72, 0.7);
  border: 4px solid #786bd5;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.overlord-container {
  text-align: right;
}
b {
  vertical-align: top;
}
